/* Colour palette sourced from https://colorhunt.co/palette/6e3cbc7267cb98bae7b8e4f0  */

:root {
  --purple: rgb(110, 60, 188);
  --dark-blue: rgb(114, 103, 203);
  --blue: rgb(152, 186, 231);
  --light-blue: rgb(184, 228, 240);
}

body {
  background-color: var(--purple);
  color: white;
}

.main-grid {
  margin: 20px 40px;
}

.row {
  margin-bottom: 40px;
}

h1 {
  font-size: 2rem;
  text-align: right;
}

h3 {
  font-size: 1.5rem;
}

.col-2 {
  border-right: 2px solid var(--light-blue);
}
.btn-group {
  border: 2px solid var(--blue);
  border-radius: 10px;
}
.card {
  color: white;
  background-color: var(--dark-blue);
  border: 2px solid var(--blue);
  border-radius: 10px;
  margin: 10px;
}

.weather-card .list-group-item {
  background: none;
  border-color: var(--light-blue);
  border-top: 0;
}

.recent-card:hover {
  cursor: pointer;
}

.recent-card:active {
  scale: 1.1;
}

.list-group-item {
  padding-left: 0;
}

#forecast-area {

  visibility: hidden;

}
